crash-reports/
logs/
mods/
saves/
skyblock_exports/
usernamecache.json
usercache.json
reauth.toml
local/
backups/
resourcepacks/
realms_persistence.json
rhino.local.properties
patchouli_data.json
options.txt
.qmenu_opened.marker
.curseclient
knownkeys.txt
kubejs/exported
screenshots/
trashslotsavestate.json
config/roughlyenoughitems
secrets.ps1
ModListCreator-4.0.2-fatjar.jar
ESM/
config/skyblockbuilder/data/
config/defaultoptions/servers.dat
*.bak